@model Bookmark.Models.BookModels.BookDetail

@{
    ViewBag.Title = "Details";
}

<h2>Book Details</h2>

<div>
    <hr />
    <div class="card border-secondary mb-3" style="max-width: 20rem; display: inline-block;">
        <div class="card-header"><h5>@Html.DisplayFor(model => model.Title)</h5></div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPages)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalPages)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CurrentPage)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurrentPage)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BookProgress)
                </dt>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @(Model.BookProgress +"%")"></div>
                </div>

                <dt>
                    @Html.DisplayNameFor(model => model.BookshelfName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookshelfName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TotalNotes)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalNotes)
                </dd>

            </dl>
</div>
        

            @* <dd>
                    @Html.DisplayFor(model => model.TotalPages)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CurrentPage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CurrentPage)
                </dd> *@

            
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
