@model Bookmark.Models.NoteModels.NoteDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Note</h2>

<p>Delete note from your book</p>
<div>
    <hr />
    <div class="card border-secondary mb-3" style="max-width: 20rem; display: inline-block;">
        <div class="card-header"><h5>@Html.DisplayFor(model => model.NoteTitle)</h5></div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Book)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Book)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NoteId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NoteId)
                    </dd>

                </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-warning" /> | 
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
        }
    </div>
