@model Bookmark.Models.NoteModels.NoteDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="card border-secondary mb-3" style="max-width: 20rem; display: inline-block;">
        <div class="card-header"><h5>@Html.DisplayFor(model => model.NoteTitle)</h5></div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Book)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Book)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NoteId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NoteId)
                    </dd>

                </dl>
        </div>
</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
